@page "/"
@inject DMS.Controllers.HomeController HomeControllerInstance
<PageTitle>Index</PageTitle>


<p>@jsonData</p>

@code {
    private string? jsonData;


    protected override void OnInitialized()
    {
        var result = HomeControllerInstance.Index();
        // 处理 result 中的数据
        // 将数据转换为 JSON 字符串或进行其他操作
        var json = JsonSerializer.Serialize(result);
        // 将结果赋值给 jsonData 变量
        jsonData = json;
    }
}