@page "/"
@inject MyDbContext MyDbContextInstance
<PageTitle>Index</PageTitle>


<p>@jsonData</p>

@code {
    private string? jsonData;


    protected override async Task OnInitializedAsync()
    {
        string id = "2";
        var data = await MyDbContextInstance.Accounts.Where(a => a.id.Equals(id)).ToListAsync();
        var json = JsonSerializer.Serialize(data);
        jsonData = json;
    }
}